body {
    font-family: arial, sans-serif;
    line-height:1.6;
    font-size: 14px;
    margin: 0;
}

/***nav***/

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1px;
}   

.left-nav {
    vertical-align: middle;
    margin-left:-22px;  
    margin-top:18px;
}

.right-nav {
    margin-top:px;
}

.nav-link {
    margin: 0 8px;
}

.profile-picture {
    border-radius: 50%;
    vertical-align: middle;
    margin-right:10px;
}

.icon {
    vertical-align: middle;
}

.top-links {
    color:black;
}

/***main***/

.main-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10rem;
}

.search-container {
    width:579px;
    height:42px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid lightgrey;
    border-radius: 30px;
}

.google-logo {
    display: block;
    align-self: center;
    margin-bottom:30px;
}

.search-bar {
    flex:0.96;
    height:15px;
    border:none;
    font-size: 14px;  
}

.search-container:hover {
    box-shadow:0 0 5px lightgrey;
}

.search-bar:focus {
    outline:none;
    -webkit-tap-highlight-color: transparent;
}

.buttons {
    margin-top: 30px;
    display:flex;
}

.button {
    padding: 11px 18px;
    margin: 0 8px;
    border:none;
    background-color: #f8f9fa;
    cursor:pointer;
    border-radius:4px;
    color:#3c4043;
    font-size:14px;
}

.button:hover {
    box-shadow:0 0 2px grey;
}

/***footer***/

.footer {
    position: absolute;
    bottom: 0;
    left:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    background-color: #f2f2f2;
    border-top: 1px solid rgb(218, 220, 224);
}

.right-footer {
    margin:10px 6px 10px 0;
}

.left-footer { 
    margin: 10px 0 10px -22px;
}

.bottom-links {
    color:#70757a;
}

/***media query***/

@media(max-width: 661px){
    .footer {
        flex-direction:column;
        text-align:center;
    }

    .left-footer {
        margin:5px 0;
    }

    .right-footer {
        margin:0 0 5px 0;
    }

    .right-footer, .left-footer {
        padding:0px;
    }
    .search-container {
        width:80%;
    }

    html {
        font-size:60%;
    }
}